body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #333;
    line-height: 17px;
    width: 500px;
    margin: 20px;
}

h1 {
    font-size: 26px;
    line-height: 20px;
}

h2 {
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form {
    margin: 0;
}

.planner-table tr td 
{
	padding-right: 12px;
}

.box {
    margin: 20px 0;
    padding: 20px;
    color: #888;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
}

a {
    text-decoration: none;
    color: #3D69B6;
}

a .large {
    text-decoration: none;
    color: #3D69B6;
	fonts-size: 22px;
}

a:hover {
    text-decoration: underline;
}

.nav-top {
}

.nav-bottom {
    float: right;
}

.eg {
     margin: 20px 0;
     padding: 14px;
     border: 1px solid #ddd;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -mox-border-radius: 6px;
}